

{{> head}}

{{> navbar}}


<div>

    <div class="col-8">
        <h1>columna 1</h1>
        <p>Lorem, ipsum dolor sit amet consectetur 
             elit. Labore dolores fugit asperiores 
              in laudantium, accusantium atque ducimus 
              . Error eveniet ullam repellendus incidunt placeat, ut 
               aliquam veritatis consequuntur!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/node.jpg" class="img-thumbnail">
    </div>

</div>
   

{{> footer}}